<div class="modal fade">


	<div class="modal-dialog">
		<div class="container">
			<div class="col-sm-6 col-sm-offset-0">
				<div class="modal-content">
					<div class="modal-header">
						<a href="#"><i class="fa fa-user-md fa-fw" aria-hidden="true"></i>
							<h4 class="modal-title">{{injectId}}</h4>
							<button type="button" class="close" ng-click="close('Cancel')"
								data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">

						<div ng-show="showStatus.length > 1" class="alert alert-info"
							role="alert">{{showStatus}}</div>

						<form name="createProfileForm"
							ng-submit="save(createProfileForm.$valid)" novalidate>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-12">
										<label for="nameOfInjector">Name</label> <input type="text"
											name="name" class="form-control"
											ng-model="tradeInjectorProfile.name"
											aria-describedby="nameOfInjectorHelp" ng-minlength="3"
											ng-maxlength="20" required> <small
											id="nameOfInjectorHelp" class="form-text text-muted">This
											name of injector which can be easily identifiable by you</small>
										<p
											ng-show="createProfileForm.name.$invalid && !createProfileForm.name.$pristine"
											class="help-block">A name is required with min and max of
											30 chars</p>

										<p ng-show="createProfileForm.name.$error.minlength"
											class="help-block">name is too short.</p>
										<p ng-show="createProfileForm.name.$error.maxlength"
											class="help-block">name is too long</p>

									</div>
								</div>
							</div>
							<!-- Main trade information -->
							<div class="form-group">

								<div class="row">
									<div class="col-sm-4">
										<label for="numberOfTrades">Number of Trades</label> <input
											type="number" name="numberOfTrades" class="form-control"
											ng-model="tradeInjectorProfile.numberOfTrades"
											ng-minlength="1" aria-describedby="numberOfTradesHelp"
											required> <small id="nameOfInjectorHelp"
											class="form-text text-muted">Number of trades (a
											trade contains either the sell or buy side)</small>
										<p
											ng-show="createProfileForm.numberOfTrades.$invalid && !createProfileForm.numberOfTrades.$pristine"
											class="help-block">Number of trades is required</p>
										<p ng-show="createProfileForm.numberOfTrades.$error.minlength"
											class="help-block">Number of trades is too small</p>

									</div>
									<div class="col-sm-4">
										<label for="timeDelay">Time delay</label> <input type="number"
											name="timeDelay" class="form-control" id="timeDelay"
											ng-model="tradeInjectorProfile.simulatedWaitTime"
											aria-describedby="timeDelayHelp" ng-minlength="2" required>
										<small id="timeDelayHelp" class="form-text text-muted">Time
											delay must be stated in milliseconds</small>

										<p
											ng-show="createProfileForm.timeDelay.$invalid && !createProfileForm.timeDelay.$pristine"
											class="help-block">Time delay required</p>
										<p ng-show="createProfileForm.timeDelay.$error.minlength"
											class="help-block">Time delay is too small</p>
									</div>
									<div class="col-sm-4">
										<label for="threads">Threads</label> <input type="number"
											class="form-control" id="threads"
											ng-model="tradeInjectorProfile.threads"
											aria-describedby="threadsHelp"> <small
											id="timeDelayHelp" class="form-text text-muted">Threads
											to spawn from the same profile</small>
									</div>
								</div>
								<!-- Parties and Instruments -->
								<div class="row">
									<div class="col-sm-4">
										<label for="numberOfClients">Number of Parties</label> <input
											type="number" class="form-control" name="numberOfClients"
											ng-model="tradeInjectorProfile.numberOfParties"
											aria-describedby="numberOfClientsHelp" requiredS> <small
											id="numberOfClientsHelp" class="form-text text-muted">Number
											or Parties</small>

										<p
											ng-show="createProfileForm.numberOfClients.$invalid && !createProfileForm.numberOfClients.$pristine"
											class="help-block">Number of Parties required</p>


									</div>
									<div class="col-sm-6">
										<label for="numberOfInstruments">Number of Instruments</label>
										<input type="number" class="form-control"
											name="numberOfInstruments"
											ng-model="tradeInjectorProfile.numberOfInstruments"
											aria-describedby="numberOfInstrumentsHelp" required>
										<small id="numberOfInstrumentsHelp"
											class="form-text text-muted">Number of Instruments</small>

										<p
											ng-show="createProfileForm.numberOfInstruments.$invalid && !createProfileForm.numberOfInstruments.$pristine"
											class="help-block">Number of Instruments required</p>

									</div>


								</div>

							</div>
							<!-- Sink section -->
							<div class="form-group">
								<div class="row">
									<p>Currently configured to Kafka only</p>
								</div>
							</div>

							<div class="form-group" align="right">
								<div class="row">
									<div class="button-group" role="group">
										<!-- 
										<button type="button" class="btn btn-primary"
											ng-disabled="createProfileForm.$invalid">
											<i class="fa fa-floppy-o fa-fw"></i> Save
										</button>
										 -->
										<a ng-show="isEdit=='Y'" ng-disabled="createProfileForm.$invalid" class="btn btn-primary" ng-click="save(createProfileForm.$valid)" role="button"
											data-dismiss="modal"><i class="fa fa-floppy-o fa-fw"></i>
											Save & Close</a>
										<a class="btn btn-primary" ng-click="close()" role="button"
											data-dismiss="modal"><i class="fa fa-times fa-fw"></i>
											Close</a>

									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- end of modal content -->
			</div>
		</div>
	</div>

</div>